.login-wrapper {
    height: 100vh;
}

.login h1, .login span {
    color: #3b3b3b;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    gap: 12px;
}

.encabezado-login {
    flex-direction: column;
}

.login-form {
    box-shadow: 1px 2px 8px rgb(99, 99, 99);
    border: 1px solid #ccc;
    flex-direction: column;
    border-radius: 4px;
    padding: 40px 12px;
    gap: 12px;
}

.wrapper-informacion {
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.wrapper-informacion input {
    width: 90%;
    padding: 8px 4px;
    border: none;
    border-bottom: 1px solid #3b3b3b8b;
    outline-style: none;
}

.botones {
    display: flex;
    gap: 12px;
    padding: 4px 0;
    margin-top: 12px;
}

.botones a {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #b6b6b6;
}

.botones .aceptar {
    background-color: #68a497;

    &:hover {
        background-color: #182928;
        color: white;
    }
}


/* 
.cancelar:hover {
    background-color: crimson;
    color: white;
} */