table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

td, th {
    text-align: center;
    resize: none;
    white-space: nowrap;
    white-space-collapse: collapse;
    overflow: hidden;
    border: 1px solid #628281c5;
}

th {
    color: #0c563f;
    font-size: clamp(12px, 2.5vw, 16px);
}

td {
    font-size: clamp(10px, 2.5vw, 16px);
    color: #1e2b29;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    font-weight: 300;
    text-transform: capitalize;
}

tbody tr {
    cursor: pointer;
}

.opciones {
    display: flex;
    width: 90%;
    max-width: 800px;
    gap: 8px;
}

.control-informacion {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 2%;
}

.mostrar-informacion {
    width: 50%;
    max-width: 100px;
    color: #353b3a;
    border-radius: 5px;
    border: none;
}

.mostrar-informacion:hover {
    border: 1px solid rgba(0, 0, 0, 0.081);
}

.seleccionado {
    background-color: #8ca2aa;
}

tr input[type="checkbox"] {
    accent-color: #0c563f;
}